
.container {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  color: white;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas: 
  "top top right"
  "left left right"
  "bottom bottom right";

  grid-gap: 10px;
}

.top {
  background: red;
  grid-area: top;
}

.left {
  background: blue;
  grid-area: left;
}

.right {
  background: green;
  grid-area: right;
}

.bottom {
  background: purple;
  grid-area: bottom;
}
