.container {
  position: relative;
}

.box1 {
  position: relative;
  z-index: 1;

  border: 2px solid black;
  height: 100px;
}

.box2 {
  position: absolute;
  z-index: 3;

  width: 50%;
  height: 50px;

  background-color: bisque;

  left: 20px;
  top: 20px;
}

.box3 {
  position: absolute;
  z-index: 2;

  width: 30%;
  height: 100px;

  background-color: lightgreen;

  left: 20px;
  top: 20px;
}