body {
  margin: 20px;
}

.box {
  width: 100px;
  height: 100px;
  background-image: url(../assets/AA10bnPf.jpeg);
  background-position: center;
  background-size: cover;
  border: 1px solid lightgray;
  border-radius: 14px;
  position: relative;
  overflow: hidden;
}

.box-overloay {
  width: 100px;
  height: 100px;
  /* background-color: black; */
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 14px;
  background-color: blue;
  /* transition: all 1s; */
  transition: all 0.5s ease-in-out;
}

.box-overloay p {
  margin: 0px;
  font-size: 10px;
  color: white;
  font-weight: bold;
}

.box:hover .box-overloay {
  opacity: 1;
}