div {
  border: 3px solid black;
}

div.static {
  position: static;
}

div.relative {
  position: relative;
  border-color: pink;

  top: 10px;
  left: 40px;
}

div.absolute {
  position: absolute;
  border-color: aqua;

  width: 500px;
  height: 500px;

  top: 10%;
  right: 10%;
}

div.fixed {
  position: fixed;

  bottom: 10px;
  right: 10px;

  display: inline;
  border-color: purple;
  background-color: purple;
  color: white
}

.sticky {
  position: sticky;
  top: 10%;
  padding: 10px;
  background-color: royalblue;
}