span {
  display: block;
  border: 1px solid black;
}

div {
  display: inline-block;

  border: 5px solid blue;
  margin: 40px;
}

#korea {
  width: 200px;
  height: 200px;
  float: right;
}


#hidden1 {
  display: none;
}

#hidden2 {
  visibility: hidden;
}